<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hive-ext-representative" >
	<tr>
		<td>
			<f:translate key="tx_hiveextrepresentative_domain_model_contact.firstname" />
		</td>
		<td>
		{contact.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextrepresentative_domain_model_contact.lastname" />
		</td>
		<td>
		{contact.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextrepresentative_domain_model_contact.phone" />
		</td>
		<td>
		{contact.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextrepresentative_domain_model_contact.mail" />
		</td>
		<td>
		{contact.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hiveextrepresentative_domain_model_contact.image" />
		</td>
		<td>
		{contact.image}
		</td>
	</tr>
</table>
</html>